# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [92]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [93]:
np.random.seed(123)
s1 = pd.Series(np.random.randint(1,5,size=100))
s2 = pd.Series(np.random.randint(1,4,size=100))
s3 = pd.Series(np.random.randint(10000,30001,size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [94]:
df = pd.DataFrame({'s1':s1,'s2':s2,'s3':s3})
df.head()

   s1  s2     s3
0   3   2  20802
1   2   1  23442
2   3   3  18121
3   3   2  19123
4   1   2  15650

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [95]:
df.rename(columns={'s1':'bedrs','s2':'bathrs','s3':'price_sqr_meter'},inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            20802
1      2       1            23442
2      3       3            18121
3      3       2            19123
4      1       2            15650

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [96]:
big_col = pd.concat([df.bedrs,df.bathrs,df.price_sqr_meter],axis=0,ignore_index=True)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [97]:
big_col.index #nope

RangeIndex(start=0, stop=300, step=1)