# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
path = 'D:/ML/Books/Learning_Pandas_russian_translation-1-master/pandas_exercises-master/pandas_exercises-master/01_Getting_&_Knowing_Your_Data/chipotle.tsv.txt'
data = pd.read_csv(path,sep='\t')

### Step 4. How many products cost more than $10.00?

In [ ]:
data.item_price = data.item_price.apply(lambda val: np.float(val.lstrip('$')))

In [15]:
data[data['item_price'] > 10.00]['order_id'].count()

1130

In [7]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [16]:
data[['item_name','item_price']].head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [18]:
data['item_name'].sort_values().head()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
Name: item_name, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [23]:
data[data['item_price'] == data['item_price'].max()]['quantity']

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [26]:
data[(data['item_name'] == 'Veggie Salad Bowl')].count()[1]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [29]:
data[(data['item_name'] == 'Canned Soda') & (data['quantity'] >= 2)]['quantity'].count()

20