# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = {'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],
            'hp':[45,39,44,45],
            'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
            'pokedex':['yes','no','yes','no'],
            'type': ['grass','fire','water','bug']}

### Step 3. Assign it to a variable called pokemon

In [4]:
data = pd.DataFrame(raw_data)
data.head()

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
data.columns

Index(['evolution', 'hp', 'name', 'pokedex', 'type'], dtype='object')

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
data['Place'] = ['Mountain','Cave','River','Cave']
data.head()

    evolution  hp        name pokedex   type     Place
0     Ivysaur  45   Bulbasaur     yes  grass  Mountain
1  Charmeleon  39  Charmander      no   fire      Cave
2   Wartortle  44    Squirtle     yes  water     River
3     Metapod  45    Caterpie      no    bug      Cave

### Step 6. Present the type of each column

In [17]:
data.columns

Index(['evolution', 'hp', 'name', 'pokedex', 'type', 'place'], dtype='object')

### BONUS: Create your own question and answer it.

In [20]:
# Capitalize all columns
data.rename(str.capitalize,axis=1,inplace=True)
data.head()

    Evolution  Hp        Name Pokedex   Type     Place
0     Ivysaur  45   Bulbasaur     yes  grass  Mountain
1  Charmeleon  39  Charmander      no   fire      Cave
2   Wartortle  44    Squirtle     yes  water     River
3     Metapod  45    Caterpie      no    bug      Cave