### Variables and Constants
To declare a varibale the following syntax must be used:
```variable_name data_type [:= expression];```

**Example**
```
DO 
$$
DECLARE
    name VARCHAR(50) = 'John';
    surname VARCHAR(50) = 'Miles';
    age INT;
...
``` 

**Important**
- Assignment operator can be either ```=``` or ```:=```
- If a default variable isn't defined for a variable it is set to ```NULL``` by default
- A vriable stores only a single value (e.g. number of people, a city name, name, ...) except variables with types record or row type
- If a varaible doesn't have a data type, an error will be raised

### Copying Data Types
A type of avariable can be defined as a type of another variable or from a column of a table.

**Example**
```
DO 
$$
DECLARE
    first_name VARCHAR(50);
    last_name first_name%type;
    salary employee.salary%type;
...
```

### SELECT INTO
This operator allows **selecting the data from a database and assign it into a variable.** It has the following syntax:
```
DO $$
DECLARE
    first_name VARCHAR(50);
    last_name first_name.type%;
BEGIN
    SELECT name, last_name INTO first_name, last_name
    FROM employee
    WHERE employee.id = 1;
    
    raise notice 'Selected Employee: % %', first_name, last_name;
END;
$$
```

The ```SELECT INTO``` statement will assign the data returned by the ```SELECT```to a variable. Not only a single value can be saved into a variable but also a row. To store a row in a varaible returned by```SELECT INTO```, you have to provide ```table_name%ROWTYPE``` or record type for a variable.

```
DO $$
DECLARE
    selected_employee employee%rowtype
BEGIN
    SELECT name, last_name INTO selected_employee
    FROM employee
    WHERE employee.id = 1;
    
    raise notice 'Selected Employee: % %', selected_employee.name, selected_employee.last_name;
END;
$$
```

### Record Type
This type stores **only one row returned by a query.** It's similar to row type.
- ```variable_name record```

**Important**
- It doesn't have a predefined structure
- The structure of a record variable is determined when the ```SELECT``` or ```FOR``` statement assigns an actual row to it.
- To access a filed in record varaible, use the dot notation syntax: ```variable_name.field_name```
- A record is a placeholder that can hold a single row of a result set

### Constants
It's a special variable that **can't be changed once it was defined.** They are useful as provide code readability and consistency. It has the following syntax:```variable_name constant data_type = expression```

**Example**
```
DO $$
DECLARE
    start_at CONSTANT TIME = NOW();
    proportion CONSTANT FLOAT = 0.15;
...
```