In [1]:
import pandas as pd

In [3]:
foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
cross_tab = pd.crosstab(foo, bar)
cross_tab

col_0  d  e
row_0
a      1  0
b      0  1

In [6]:
cross_tab.columns

CategoricalIndex(['d', 'e'], categories=['d', 'e', 'f'], ordered=False, name='col_0', dtype='category')

In [8]:
print('\nasdasd')

asdasd