# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [51]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [55]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
path = 'D:/ML/Books/Learning_Pandas_russian_translation-1-master/pandas_exercises-master/pandas_exercises-master/Data/chipotle.tsv.txt'
chipo = pd.read_csv(path,sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [126]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
# Solution 1
chipo.index.size

4622

In [9]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [13]:
chipo.columns.size

5

### Step 7. Print the name of all the columns.

In [15]:
for col_name in chipo.columns.values:
    print(col_name)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [16]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [17]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 9. Which was the most-ordered item?

In [13]:
#chipo['item_name'].value_counts().head(1) wrong solution 
grouped = chipo.groupby('item_name')
res = grouped.sum().sort_values('quantity',ascending=False)
res.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [55]:
chipo[(chipo['item_name'] == 'Chicken Bowl')]['quantity'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [16]:
grouped = chipo.groupby('choice_description')
res = grouped.sum().sort_values('quantity',ascending=False)
res.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [64]:
chipo['quantity'].values.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [19]:
#type(chipo['item_price'].values[0]) wrong solution 
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [56]:
convert_to_float = lambda val: float(val.lstrip('$'))
chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

#### Step 13.c. Check the item price type

In [29]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [32]:
revenue = chipo['quantity']*chipo['item_price']
revenue = revenue.sum()
print('Revenue is $'+str(np.round(revenue,2)))

Revenue is $39237.02

### Step 15. How many orders were made in the period?

In [35]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [42]:
chipo['revenue'] = chipo['quantity']*chipo['item_price']
order_grouped = chipo.groupby('order_id').sum().mean()['revenue']
order_grouped

21.394231188658654

In [43]:
# Solution 2
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [89]:
chipo['item_name'].unique().size

50

In [45]:
chipo.item_name.value_counts().count()

50